/* Login */
.login-page {
 /* background: #00395e; 
background: -moz-linear-gradient(-45deg, #00395e 0%, #31b0d5 100%); 
background: -webkit-linear-gradient(-45deg, #00395e 0%,#31b0d5 100%); 
background: linear-gradient(135deg, #00395e 0%,#31b0d5 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00395e', endColorstr='#31b0d5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.col-container-login {
  background: #e5e5e5;
      box-shadow: 5px 5px 5px #a2a2a2;
}

/* Contenedor */

.container-fluid {
    padding: 0 !important;
}

/* Menu */

.navbar-buap {
    background: #00395e !important;
}

.navbar-buap .nav-item a {
    color: white !important;
}

.navbar-buap .nav-item a:hover {
    color: #31b0d5 !important;
}

.navbar-buap .nav-usuario {
    color: white;
    padding: 0.5rem;
}

@media only screen and (min-width: 992px) {
    .navbar-buap .nav-usuario {
        position: absolute;
        right: 0.5rem;
    }
}

/* Supervisor */
.supervisor-page .container-botones-liberar a {
    margin-bottom: 0.5rem;
}

.supervisor-page .container-botones-liberar a:focus {
    color: white;
}

.supervisor-page .container-editor iframe {
    border: 0;
    height: 345px;
}